<!DOCTYPE html>
<html>
<head>
  <title>Mobileez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Leaflet stylesheet -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

</head>
<body>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="/" class="brand-logo">Mobileez</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
        <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <!-- <footer class="page-footer grey darken-3">
    <%= link_to "Account Settings", edit_user_registration_path(current_user) %>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Mobileez
        <a class="grey-text text-lighten-4 right" href="#!">About</a>
      </div>
    </div>
  </footer> -->

</body>
</html>
