<!DOCTYPE html>
<html>
<head>
  <title>Mobileez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="/assets/star-rating.min.css" media="all" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Leaflet stylesheet -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>
<body>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <div class="blogo">
      <a href="/" class="brand-logo"><span style="font-size:18pt">M</span><span style="font-size:22pt">0</span><span style="font-size:24pt">B</span><span style="font-size:26pt">I</span><span style="font-size:28pt">L</span><span style="font-size:32pt">E</span><span style="font-size:34pt">E</span><span style="font-size:36pt">Z</span></a>
    </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
        <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <!-- <footer class="page-footer grey darken-3">
    <%= link_to "Account Settings", edit_user_registration_path(current_user) %>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Mobileez
        <a class="grey-text text-lighten-4 right" href="#!">About</a>
      </div>
    </div>
  </footer> -->

</body>
</html>
