<!DOCTYPE html>
<html>
<head>
  <title>Mobileez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Leaflet stylesheet -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

</head>
<body>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="/" class="brand-logo">Mobileez</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
        <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="row">
   <nav>
     <div class="nav-wrapper grey darken-2">
       <form>
         <div class="input-field col s4">
           <input placeholder="Where do you want to go?" id="search" type="text">
           <label for="search"><i class="material-icons"></i></label>
           <i class="material-icons">close</i>
         </div>
         <div class="input-field col s4">
           <input placeholder="What are you looking for?" id="searchType" type="text">
         </div>
         <div class="input-field col s4">
           <input id="submit" type="button" value="Search">
         </div>
       </form>
     </div>
   </nav>
 </div>

<div class="row">
  <div class="col s3 grey lighten-3" height=max>
      <ul class="center-align">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"></i>Search Results</div>
            <div class="collapsible-body" id="Search API results Div"></div>
          </li>
        </ul>
      </ul>
      </div>
      <div class="col s9 grey lighten-3" id="map">
  </div>
</div>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <footer class="page-footer grey darken-3">
    <div class="footer-copyright">
      <div class="container">
           © 2016 Mobilezz
      <a class="grey-text text-lighten-4 right" href="#!">About</a>
      </div>
    </div>
 </footer>


</body>
</html>
